.technologies {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    background-color: white;
    margin-top: -.5rem;
    font-family: var(--font-normal-2);
    padding: 2rem;
}

.technologies .top {
    margin: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.technologies .top > i {
    font-size: 3rem;
}

.technologies .top .title>p {
    font-size: .8rem;
}

.technologies .top .title>h1 {
    font-size: clamp(1.2rem, 5vw, 2rem);
    color: var(--l-text-color1);
}

.technologies .bottom {
    width: calc(70vw + 4rem);
    height: fit-content;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    margin: auto;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.technologies .bottom .card {
    width: fit-content;
    height: fit-content;
    padding: 2rem 1rem;
    gap: .5rem;
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: var(--l-box-shadow);
    border-radius: 2rem;
    transition: .3s ease-out;
    color: var(--l-text-color1);
    margin: 1rem;
    flex-shrink: 0;
    scroll-snap-align: center;
    display: flex;
}

.technologies .bottom .card:hover {
    scale: 1.02;
}

.technologies .bottom .card .title {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    width: fit-content;
}

.technologies .bottom .card .title>img {
    font-size: 2rem;
    border-radius: .5rem;
    margin: auto;
    height: 200px;
    display: flex;
    flex-shrink: 0;
}

.technologies .bottom .card .title>h1 {
    font-size: clamp(1.75rem, 2.5vw, 2.75rem);
}

.technologies .bottom .card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    gap: 1rem;
    color: rgba(0, 0, 0, 0.726);
}

.technologies .bottom .card .content .link {
    width: fit-content;
    border-radius: 1rem;
    font-size: var(--p-medium);
    font-family: var(--font-title);
    font-weight: 600;
    background-color: white;
    color: var(--l-text-color1);
    padding: var(--pad-y-s) var(--pad-x-l);
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    box-shadow: var(--d-box-shadow);
    border: 3px solid var(--l-bg-highlight);
    margin-left: auto;
    cursor: pointer;
    transition: .3s ease-out;
}


.technologies .bottom .card .content .link:hover {
    background-color: var(--l-text-color1);
    color: white;
}

.technologies .bottom .card:hover {
    box-shadow: 0 0 10px 5px var(--l-text-color1);
}

.darkTechnologies {
    background-color: transparent;
}

.darkTechnologies .bottom .card {
    background-color: rgb(115, 115, 115);
}

.darkTechnologies .bottom .card .content {
    color: rgb(223, 223, 223);
}


.darkTechnologies .bottom .card .title > img{
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.776));
}

@media (max-width: 900px) {


    .technologies .bottom {
        width: 90vw;
    }

    .technologies .bottom .card {
        flex-direction: column;
        flex-shrink: 1;
        width: 80vw;
    }

    .technologies .bottom .card .title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .technologies .bottom .card .content {
        width: 60vw;
    }
}

@media (max-width: 450px) {
    .technologies {
        padding: 0;
    }

    .technologies .bottom .card .content > p {
        max-height: 200px;
        overflow-y: hidden;
        position: relative;
    }
}