.contents {
    width: 100%;
    min-width: 300px;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    font-family: var(--font-normal-2);
    margin: auto;
}

.contents::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.contents::-webkit-scrollbar-thumb {
    background-color: rgb(183, 183, 183);
    border-radius: 5rem;
}

.contents .wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.contents .wrapper .section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contents .wrapper .section h3 {
    color: var(--l-text-color1);
    font-size: var(--h1-normal);
}

.contents .wrapper .section h4 {
    color: var(--l-text-color1);
    font-size: var(--h1-smaller);
}

.contents .wrapper .section p {
    color: rgb(128, 128, 128);
    margin: .5rem;
    font-size: var(--p-normal
    );
}

.contents .wrapper .section .imageWrapper {
    width: 90%;
    margin: auto;
    height: fit-content;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}


.contents .wrapper .section .imageWrapper>img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.contents .wrapper .section hr {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.408);
    margin: 2rem 0;
}