.noItems {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.noItems .box {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.noItems .box > h2{
    text-align: center;
    color: black;
    font-family: var(--font-title);
}   

.noItems .box > button {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    color: white;
    text-wrap: nowrap;
    font-weight: 600;
    font-size: var(--p-medium);
    padding: var(--pad-y-m) var(--pad-x-m);
    width:fit-content;
    border-radius: .5rem;
    cursor: pointer;
    background: linear-gradient(to bottom, red, rgb(255, 0, 0));
    border: 5px solid red;
}

.noItems .box > button:hover {
    background: linear-gradient(to bottom, red, rgb(230, 68, 68));
    transition: .5s ease; 
}

table {
    width: 100vw;
    height: 80vh;
}

table>tbody {
    width: 95vw;
    height: fit-content;
    max-height: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 1.5rem;
    margin: 1rem auto;
}

table>tbody>tr {
    display: flex;
    width: 450px;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-title);
    background-color: white;
    box-shadow: var(--l-box-shadow);
    border-radius: 1rem;
    position: relative;
}

table>tbody .selected {
    opacity: 1;
    background-color: #bbbbbbb6;
    transition: .3s ease;
}

table>tbody .notSelected {
    background-color: #e1e1e1b6;
    opacity: 1;
}



table>tbody>tr .imgWrapper {
    width: 125px;
    height: 125px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
}

table>tbody>tr .right {
    padding: 1rem;
    width: 100%;
}

table>tbody>tr .right>h1 {
    font-size: var(--h1-smallest);
    height: 100%;
}

table>tbody>tr .right>input {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10%;
    right: 5%;
    cursor: pointer;
}

table>tbody>tr .right .actions {
    display: flex;
    justify-content: space-between;
}

table>tbody>tr .right .actions .editQuantity {
    display: flex;
    align-items: center;
    font-size: var(--p-smaller);
}

table>tbody>tr .right .actions .editQuantity>* {
    width: fit-content;
    padding: 0 .5rem;
    border: 2px solid black;
}

table>tbody>tr .right .actions .editQuantity>input::-webkit-inner-spin-button,
table>tbody>tr .right .actions .editQuantity>input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

table>tbody>tr .right .actions .editQuantity>input {
    width: 25px;
    height: 19px;
    text-align: center;
}

table>tbody>tr .right .actions .editQuantity button {
    height: 23px;
    font-size: var(--p-smaller);
    height: fit-content;
}

table>tbody>tr .right .actions .editQuantity .minus {
    height: 23px;
    border-right: none;
}

table>tbody>tr .right .actions .editQuantity .plus {
    height: 23px;
    border-left: none;
}

table>tbody>tr .right .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

table>tbody>tr .right .details > p {
    font-size: var(--p-small);
    color: var(--l-text-unhighlight);
    font-family: .5rem;
}

table>tbody>tr .right .details .cancelOrder {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    color: white;
    text-wrap: nowrap;
    font-weight: 600;
    font-size: var(--p-small);
    padding: var(--pad-y-s) var(--pad-x-m);
    width:fit-content;
    border-radius: .5rem;
    cursor: pointer;
    background-color: red;
}

.darkTable {
    background-color: var(--d-bg-color);
}

.darkTable > tbody > tr {
    background-color: var(--d-bg-color-light);
    color: white;
    box-shadow: var(--d-box-shadow);
}

@media screen and (max-width: 400px) {
    table>tbody>tr {
        display: flex;
        width: 270px;
        align-items: center;
        justify-content: space-between;
        font-family: var(--font-title);
        background-color: white;
        box-shadow: var(--l-box-shadow);
        border-radius: 1rem;
        position: relative;
    }


    table>tbody>tr .imgWrapper {
        width: 80px;
        height: 80px;
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        padding: 1rem 0;
        margin-left: 1rem;
    }

    table>tbody>tr .right .actions .editQuantity button {
        height: fit-content;
        font-size: .5rem;
        height: fit-content;
    }

    table>tbody>tr .right .actions .editQuantity>input {
        width: 15px;
        height: 19px;
        font-size: .5rem;
        text-align: center;
    }
}