.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
}

.cart .deleteButton {
    font-size: var(--p-large);
    padding: var(--pad-y-m) var(--pad-x-l);
    color: white;
    background-color: red;
    position: absolute;
    bottom: 10%;
    right: 7.5%;
    border: none;
    border-radius: 1rem;
}