.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-image: url('/Shop/sysunitBanner.jpg');
    background-size: cover;
    background-position: center;
}


.banner > h1 {
    font-family: var(--font-title);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: white;
    text-shadow: 0 0 10px var(--l-text-color1);
    font-size: clamp(1.5rem, 5vw, 3.75rem);
    justify-content: center;
    width: 100%;
    display: flex;
    gap: var(--gap-large);
    text-align: center;
}

.banner > h1 > span {
    color: var(--l-text-color1);
}