@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --l-bg-color: rgba(255, 255, 255, 0.9); 
    --l-bg-semi-trans: rgba(255, 255, 255, 0.5); 
    --l-text-unhighlight: #6f6f6f;
    --l-text-highlight: #1e1e1e;
    --l-text-color1: #3A76E6;
    --l-bg-highlight: #3A76E6;
    --l-box-shadow: 0 0 15px -5px black;

    --d-bg-color: #2b2a2ffb; 
    --d-bg-color-light: #212225e4;
    --d-text-unhighlight: #9e9e9e;  
    --d-text-highlight: #f5f5f5;  
    --d-text-color1: #c7c7c7;  
    --d-bg-highlight: #3A76E6;  
    --d-box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.8); 


    --font-title: "Saira", sans-serif;
    --font-normal: "Open Sans", sans-serif;
    --font-normal-1: "Inter", sans;

    --p-smaller: clamp(.4rem, 2.5vw, .7rem);
    --p-small: clamp(.5rem, 2.5vw, .9rem);
    --p-medium: clamp(.8rem, 2.5vw, 1.25rem);
    --p-large: clamp(.85rem, 2.5vw, 1.75rem);

    --h1-smaller: clamp(1.5rem, 2.5vw, 2rem);
    --h1-normal : clamp(1.75rem, 2.5vw, 3.75rem);
    --h1-larger: clamp(2rem, 2.5vw, 4.75rem);

    --gap-xs: .2rem;
    --gap-small: .5rem;
    --gap-normal: .75rem;
    --gap-large: 1rem;

    --pad-x-s: clamp(.5rem, 2.5vw, .75rem); 
    --pad-x-m: clamp(.75rem, 2.5vw, 1.25rem); 
    --pad-x-l: clamp(1rem, 2.5vw, 1.5rem); 


    --pad-y-s: clamp(.1rem, 2.5vw, .3rem) ;
    --pad-y-m: clamp(.4rem, 2.5vw, .65rem) ;
    --pad-y-l: clamp(.6rem, 2.5vw, .85rem) ;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    line-height: 1;
}

button {
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}

li {
    list-style: none;
    transition: all .3s ease;
}

a { 
    text-decoration: none;
}

.wrapper {
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: static;
    width: 100vw;
    height: 100vh;
}