.errorNotification {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    box-shadow: var(--l-box-shadow);
    padding: 1rem 2rem;
    color: red;
    background-color: white;
    font-family: var(--font-title);
    border-radius: 2rem;
    overflow: hidden;
    font-size: var(--p-medium);
}

.errorNotification > i {
    font-size: 2rem;
    margin-right: .5rem;
}

.hideNoAnimation {
    display: none;
}

.hide {
    opacity: 1;
    top: 5%;
    animation: HideNotif .5s ease-out forwards;
}

.show {
    display: flex;
    opacity: 0;
    top: -100px;
    animation: showNotif .5s ease-out forwards;
}

@keyframes HideNotif {
    to {
        top: -100px;
        opacity: 0;
    }
}

@keyframes showNotif {
    to {
        opacity: 1;
        top: 5%;
    }
}

.errorNotification .timerBar {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
}

.errorNotification .timerBar .timer {
    width: 100%;
    height: 100%;
    background-color: green;
    transition: all .2s ease;
}