.footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -5px 10px -5px rgb(175, 175, 175); 
    border-top: 1px solid gray;
}

.footer>hr {
    width: 97vw;
    margin: auto;
}

.footer header {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin: 1rem 0;
}

.footer header>img {
    margin-left: 1rem;
}

.footer header>button {
    border: 0;
    border-radius: 5rem;
    font-size: var(--p-small);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    background-color: white;
    color: var(--l-bg-highlight);
    padding: var(--pad-y-s) var(--pad-x-m);
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    box-shadow: var(--l-box-shadow);
    border: 3px solid var(--l-bg-highlight);
    margin-right: 1rem;
}

.footer .top {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: left;
    padding: 1rem 0;
    gap: var(--gap-large);
}

.footer .top .info {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    justify-content: left;
    gap: var(--gap-large);
}

.footer .top .info h4 {
    font-family: var(--font-title);
    color: var(--l-text-color1);
}

.footer .top .info .lists {
    font-family: var(--font-normal);
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}


.footer .top .info .lists>li .links {
    display: flex;
    gap: var(--gap-small);
    font-size: var(--p-small);
    color: var(--l-text-unhighlight);
    font-weight: 600;
    width: 100%;
    text-align: left;
}

.footer .top .info .lists>li .links:hover {
    text-decoration: underline;
}

.footer .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .bottom>p {
    margin: 1rem 0;
    font-family: var(--font-normal);
    color: var(--l-text-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}


.footer .bottom p>img {
    height: 1.5rem;
}